c/* gitlab-language=c linguist-language=c
**/c/* gitlab-language=c
h/* gitlab-language=c linguist-language=c
**/h/* gitlab-language=c
cmhg/* gitlab-language=c
**/cmhg/* gitlab-language=c
VersionNum gitlab-language=c linguist-language=c
*,fe1 gitlab-language=make linguist-language=makefile
